**/.vscode/**
**/*.pcap
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/*.out
**/*.xdv
**/*.snm
**/*.synctex.gz
**/*.toc
**/firefox/config/*
!**/firefox/config/*.tar.bz2
**/softs/linux-x86-64/
**/outfiles/env/*
**/outfiles/.ipynb_checkpoints/*
**/outfiles/**/aggregation_count_requests*
**/outfiles/**/connexion_len*
**/outfiles/**/connexion_number_requests*
**/outfiles/**/connexion_open*
**/outfiles/**/effective_queries*
**/expected/**/exepected*
**/expected/**/nomatch*
**/.env/**
**/*.cache
**/*.bbl
**/*.bcf
**/*.blg
**/*.run.xml
**/*.zip
**/article.pdf
**/survey.pdf
**/article-with-coverletter.pdf
**/article-ieeetran-with-coverletter.pdf
**/article-ieeetran.pdf
**/coverletter.pdf
**/.env/**
**/svg-inkscape/**
**/*.acr
**/*.alg
**/*.glg
**/*.glo
**/*.gls
**/*.ist
**/*.acn
**/*.pdf
